<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="icon-container">
    <ion-icon name="person-circle-outline" size="large"></ion-icon>
  </div>
  <form [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="stacked">Cedula</ion-label>
      <ion-input type="text" formControlName="cedula" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input formControlName="correo" type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>

    

    <ion-button expand="full" type="submit" [disabled]="perfilForm.invalid">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
