<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Cedula: "type="text" [(ngModel)]="txt_cedula" (focusout)="vcedula();"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Nombre: " type="text" [(ngModel)]="txt_nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Apellido: " type="text" [(ngModel)]="txt_apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Correo: " type="text" [(ngModel)]="txt_correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Clave: " type="text" [(ngModel)]="txt_clave" (focusout)="vclave()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Confirmar clave: " type="text" [(ngModel)]="txt_cclave" (focusout)="vclave()"></ion-input>
    <ion-label color="danger">{{mensaje}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-button class="success" expand="block" (click)="registrar()">Registar</ion-button>
    <ion-button class="secondary" expand="block" (click)="cancelar()">Cancelar</ion-button>
  </ion-item>
</ion-content>
